body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.contact-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 600px;
  width: 100%;
}

.contact-container h1 {
  font-size: 2em;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 10px 15px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 2s ease;
}

.contact-form button:hover {
  background-color: #003d7a;
}

@media only screen and (max-width: 450px) {
  .contact-container h1 {
    font-size: 1.5em;
  }
}
